<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.taskstodo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity"
            android:label="@string/editor_activity_title_new_task"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>
        <receiver
            android:name=".AppWidget.CollectionAppWidgetProvider"
            android:label="@string/title_collection_widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.indiandollar.apps.todoappcollectionwidget.app.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/collection_widget" />
        </receiver>
        <provider
            android:authorities="com.example.android.taskstodo"
            android:name=".data.TaskProvider"
            android:exported="false"/>
        <service android:name=".AppWidget.MyWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>
    </application>

</manifest>